<script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
<script>
  SC.initialize({
    client_id: '4d58a997da71a56c77e6fa1ce116ba9c',
    client_secret: '5242523efcac3dfd8b172a810b5eee12'
  });
</script>
<!-- <script type='text/javascript' src='../../../bower_components/ng-giphy/dist/ng-giphy.min.js'></script>
<script type='text/javascript' src='../../../node_modules/ng-giphy/dist/ng-giphy.min.js'></script> -->

<!-- 3
<iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?visual=false&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F268758368&show_artwork=false&auto_play=true"></iframe> -->

<section id="about">
    
    <div id="bigdiv">
    <div id="buttons">
    <h3 id="text">pick a song</h3>
    <input placeholder="enter soundcloud url" ng-model=songUrl></input>
    </div>
    <div id="buttons">
    <h3 id="text">search for 3 cool things</h3>
    <input placeholder="enter three keywords" ng-model=imgSearch></input>
    </div>
    <div id="buttonsone">
    <button class="update-qty btn btn-success" ng-click="startTheGif(songUrl, imgSearch)"><a href="#scroll">start the gifilizer</a></button>
<!--     <a href="#scroll">scroll</a> -->
    </div>
    </div>
	
	<div>
	<span ng-show="ready" id="scroll">
	<img id="centerImage" class="mySlides" src={{images[0]}}>
	<img id="centerImage" class="mySlides" src={{images[10]}}>
	<img id="centerImage" class="mySlides" src={{images[20]}}>

	<img id="centerImage" class="mySlides" src={{images[1]}}>
	<img id="centerImage" class="mySlides" src={{images[11]}}>
	<img id="centerImage" class="mySlides" src={{images[21]}}>

	<img id="centerImage" class="mySlides" src={{images[2]}}>
	<img id="centerImage" class="mySlides" src={{images[12]}}>
	<img id="centerImage" class="mySlides" src={{images[22]}}>

	<img id="centerImage" class="mySlides" src={{images[3]}}>
	<img id="centerImage" class="mySlides" src={{images[13]}}>
	<img id="centerImage" class="mySlides" src={{images[23]}}>

	<img id="centerImage" class="mySlides" src={{images[4]}}>
	<img id="centerImage" class="mySlides" src={{images[14]}}>
	<img id="centerImage" class="mySlides" src={{images[24]}}>

	<img id="centerImage" class="mySlides" src={{images[5]}}>
	<img id="centerImage" class="mySlides" src={{images[15]}}>
	<img id="centerImage" class="mySlides" src={{images[25]}}>

	<img id="centerImage" class="mySlides" src={{images[6]}}>
	<img id="centerImage" class="mySlides" src={{images[16]}}>
	<img id="centerImage" class="mySlides" src={{images[26]}}>

	<img id="centerImage" class="mySlides" src={{images[7]}}>
	<img id="centerImage" class="mySlides" src={{images[17]}}>
	<img id="centerImage" class="mySlides" src={{images[27]}}>

	<img id="centerImage" class="mySlides" src={{images[8]}}>
	<img id="centerImage" class="mySlides" src={{images[18]}}>
	<img id="centerImage" class="mySlides" src={{images[28]}}>

	<img id="centerImage" class="mySlides" src={{images[9]}}>
	<img id="centerImage" class="mySlides" src={{images[19]}}>
	<img id="centerImage" class="mySlides" src={{images[29]}}>
	</span>
	</div>

	<div id="thediv">
	</div>
</section> 